{% extends "layout.html" %} {% block title %} Quote {% endblock %} {% block main
%}
<form action="/quote" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="symbol"
      placeholder="Stock Symbol"
      type="text"
    />
  </div>
  <button class="btn btn-primary" type="submit">Get Quote</button>
</form>

{% if data %}
<div class="mt-4">
  <h3>{{ data.name }} ({{ data.symbol }})</h3>
  <p class="lead">Current Price: {{ data.price | usd }}</p>
</div>
{% endif %} {% endblock %}
